<div class="hydra-mesh-viewer" ng-init="connect(url)">
   <div class="control-tab">
      <table class='table table-striped table-hover table-condensed'>
         <thead>
            <tr>
               <th>
                  <i ng-click="toggleVisibility(-1)" class="fa" ng-class="{ 'fa-eye' : mainVisible, 'fa-eye-slash': !mainVisible }"></i>
               </th>
               <th>
                   Faces
               </th>
               <th>
                   <i class="fa fa-eyedropper"></i>
               </th>
               <th>
                   <i class="fa fa-taggs"></i>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="face in faces" ng-class="{ info: ($index === activeFace)}" ng-click="updateActiveFace( $index)">
               <td ng-click="toggleVisibility($index)"><i class="fa" ng-class="{ 'fa-eye' : face.visible, 'fa-eye-slash': !face.visible }"></i></td>
               <td>{{ face.name }}</td>
               <td>
                  <span class="fa" ng-class="{ 'fa-tags' : face.tags.length > 0}">
                     <md-tooltip>{{ face.tags.join(', ') }}</md-tooltip>
                  </span>
               </td>
               <td style="color: {{ face.color }};" ng-click="changeColor($index)"><i class="fa fa-circle"></i></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="control-panel">
      <span class="fa-stack fa" ng-click="tag($event)">
         <i class="fa fa-stack-1x fa-tags"></i>
      </span>
      <span class="fa-stack fa" ng-click="resetCamera()">
         <i class="fa fa-stack-1x fa-arrows-alt"></i>
      </span>
      <span class="fa-stack fa" ng-click="toggleVisibility(-2)">
         <i class="fa fa-cube"></i>
      </span>
      <span class="fa-stack fa" ng-click="toggleBackgroundColor()">
         <i class="fa fa-paint-brush"></i>
      </span>
   </div>
   <div class="renderer">
   </div>
</div>
