.hydra-mesh-viewer
    position absolute
    left 0
    right 0
    top 4.5em
    bottom 0

    .control-panel
       position absolute
       top 10px
       right 5px
       z-index 200
       background color-light
       border-radius 5px
       text-align center
       color white
       background rgba(50,50,50,0.5)

    .control-tab
       position absolute
       left 0
       top 0
       width 200px
       bottom 0
       overflow scroll

    .renderer
       position absolute
       top 0
       left 200px
       right 0
       height 100%

    .width-100
        width 100%
