<md-dialog aria-label="Run simulation" style="width: 50%;">
    <md-subheader class="md-sticky-no-effect cmb-subheader">
        <strong title>Run simulation</strong>
    </md-subheader>
    <md-content>
    <form layout="column">
        <div layout="row" style="margin: 10px 0;">
            <label flex="20">
                Machine type
            </label>
            <div flex>
                <select ng-model='data.type' class="form-control" ng-change="updateCost()">
                    <option ng-repeat="machine in machines" value="{{ machine.id }}">
                        {{ machine.label }} - {{ machine.cpu }} cores - {{ machine.memory }} GB {{ machine.gpu ? " + GPU" : "" }}
                    </option>
                </select>
            </div>
        </div>
        <div layout="row" style="margin: 10px 0;">
            <label flex="20">
                Cluster size
            </label>
            <div flex>
              <input type="number"
                ng-change="updateCost()"
                ng-model='data.size'
                value='1'
                min='1'
                max='5'
                step='1'
                class="form-control"
                ></textarea>
            </div>
        </div>
        <div layout="row" style="margin: 10px 0;" >
            <label flex="20">
                Hour cost
            </label>
            <label class="control-label" flex>
                {{ data.cost | currency : $ : 2 }} / hour
            </label>
        </div>
    </form>
</md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="ok(data)" class="md-raised md-primary">Ok</md-button>
    <md-button ng-click="cancel()" class="md-raised md-warn">Cancel</md-button>
  </div>
</md-dialog>
