<md-dialog aria-label="{{ title }}" style="width: 50%;">
    <md-subheader class="md-sticky-no-effect cmb-subheader">
            <strong title>{{ title }}</strong>
    </md-subheader>
    <md-content layout-padding>
        <div layout="column">
            <label>Server type</label>
            <select ng-model='serverSelection'>
                <option ng-repeat="opt in serverOptions" ng-value="opt">{{opt}}</option>
            </select>
        </div>
        <div ng-switch="serverSelection">
            <div id="ec2-cluster-content" aria-labelledby="ec2-cluster" ng-switch-when="EC2" >
                <form layout="column">
                    <div layout="row" style="margin: 10px 0;">
                        <label flex="20">
                            Machine type
                        </label>
                        <div flex>
                            <select ng-model='data.type' class="form-control" ng-change="updateCost()">
                                <option ng-repeat="machine in machines" value="{{ machine.id }}">
                                    {{ machine.label }} - {{ machine.cpu }} cores - {{ machine.memory }} GB {{ machine.gpu ? " + GPU" : "" }} - {{ machine.storage }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div layout="row" style="margin: 10px 0;">
                        <label flex="20">
                            Cluster size
                        </label>
                        <div flex>
                          <input type="number"
                            ng-change="updateCost()"
                            ng-model='data.size'
                            value='1'
                            min='1'
                            max='100'
                            step='1'
                            class="form-control"
                            ></textarea>
                        </div>
                    </div>
                    <div layout="row" style="margin: 10px 0;" >
                        <label flex="20">
                            Hour cost
                        </label>
                        <label class="control-label" flex>
                            {{ data.cost | currency : $ : 2 }} / hour
                        </label>
                    </div>
                </form>
            </div>
            <div id="launcher-content" aria-labelledby="launcher" ng-switch-when="Traditional">
                <form layout="column">
                    <label>Cluster</label>
                    <select ng-model="clusterData.selectedCluster" required>
                        <option ng-repeat="cluster in clusters" ng-value="cluster._id">{{cluster.name}}</option>
                    </select>
                    <label>Hydra executable path</label>
                    <input type="text" ng-model="clusterData.hydraExecutablePath" placeholder="/home/user/absolute/path"
                        pattern="^\/.+" required >
                    <label>Parallel Environment</label>
                    <input type="text" ng-model="clusterData.parallelEnvironment" placeholder="(optional)">
                    <label>Number of slots</label>
                    <input type="number" min="1" step="1" ng-model="clusterData.numberOfSlots" placeholder="(optional)"
                    ng-blur="floorSlots(clusterData.numberOfSlots)">
                </form>
            </div>
        </div> <!-- end ngSwitch -->
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-warn">Cancel</md-button>
            <md-button ng-click="ok()" class="md-raised md-primary" ng-disabled="!valid()">Ok</md-button>
        </div>
    </md-content>
</md-dialog>
