<md-toolbar class="cmb-subsubheader" layout="row" layout-align="space-between center">
    <div flex layout="row" layout-align="start center" class="info-buttons">
        <md-button class="md-flat" aria-label="Mesh file name"
            ng-click="projectInfo($event)">
            <i class="fa fa-file-text-o"></i>
        </md-button>
        <!-- ui-sref="mesh({ collectionName: getActiveCollection(), projectID: meshItem.folderId, itemID: meshItem._id, fileID: mesh._id })" -->
        <md-button aria-label="Tag mesh faces"
            ng-click="runTask($event,
                'Start mesh tagger', 'meshtagger', false,
                meshItem, runTaggerCallback)">
            <i class="fa fa-tags"></i>
            <md-tooltip>Tag mesh faces using mesh viewer</md-tooltip>
        </md-button>
    </div>
    <div flex toggle-filter-bar layout="row" layout-align="center center">
        <md-button class="md-raised project-filter-button"
            aria-label="Toggle incomplete simulations"
            ng-click="toggleSimulationFilter($event, 'incomplete')">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            <md-tooltip>Toggle incomplete simulations</md-tooltip>
        </md-button>
        <md-button class="md-raised project-filter-button"
            aria-label="Toggle valid simulations"
            ng-click="toggleSimulationFilter($event, 'valid')">
            <i class="fa fa-fw fa-check-square-o"></i>
            <md-tooltip>Toggle valid simulations ready to run</md-tooltip>
        </md-button>
        <md-button class="md-raised project-filter-button"
            aria-label="Toggle running simulations"
            ng-click="toggleSimulationFilter($event, 'running')">
            <i class="fa fa-fw fa-rocket"></i>
            <md-tooltip>Toggle running simulations</md-tooltip>
        </md-button>
        <md-button class="md-raised project-filter-button"
            aria-label="Toggle simulations with results"
            ng-click="toggleSimulationFilter($event, 'complete')">
            <i class="fa fa-fw fa-database"></i>
            <md-tooltip>Toggle simulations with results</md-tooltip>
        </md-button>
        <md-button class="md-raised project-filter-button"
            aria-label="Toggle simulations with errors"
            ng-click="toggleSimulationFilter($event, 'error')">
            <i class="fa fa-fw fa-warning"></i>
            <md-tooltip>Toggle simulations with errors</md-tooltip>
        </md-button>
    </div>
    <div flex layout="row" layout-align="end center">
        <md-button aria-label="Create simulation" ng-click="createSimulation($event)">
            <i class="fa fa-fw fa-plus"></i>
            <md-tooltip>Create new simulations</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <div layout="row" layout-align="center center" class="faux-toolbar">
        <div class="text-center" style="padding-left: 12px; padding-right: 12px;">
            <i class="fa fa-crosshairs fa-fw"></i>
        </div>
        <div style='width: 20%;'>
            Simulation name
        </div>
        <div style='width: 60%;'>
            Description
        </div>
        <div class="text-center" style='width: 20%;'>
            <i class="fa fa-clock-o"></i>
        </div>
    </div>
    <accordion>
        <accordion-group ng-repeat="simulation in simulations | filter: simulationFilter(filters)"
            class="project-block">
            <accordion-heading>
                <div class="project-accordion-header" ng-click="panelStateToggle($index)">
                    <div>
                        <i class="fa fa-fw"
                            ng-class="simulationClassByStatus(simulation)">
                        </i>
                    </div>
                    <div> {{ simulation.name | unescape}} </div>
                    <div> {{ simulation.description | unescape}} </div>
                    <div> {{ simulation.created | toDateNumber | date : 'medium' }} </div>
                </div>
            </accordion-heading>
            <md-content layout="column">
                <div ng-show="simulation.meta.taskId && itemClusterType[simulation.name] === 'ec2'">
                    <div layout="row">
                        <span flex="50"><b>Total cost<b></span>
                        <span>{{ simulation.meta.totalCost | currency:"$":2}}</span>
                    </div>
                    <div layout="row" ng-show="simulation.meta.status === 'running'">
                        <span flex="50"><b>Active cluster<b></span>
                        <span>{{ simulation.meta.cost | currency:"$":3 }} / hour => $ {{ calculateCost(simulation.meta.cost, simulation.meta.startTime)}}</span>
                    </div>
                    <div layout="row" ng-show="simulation.meta.status === 'running'">
                        <span flex="50"><b>Running time<b></span>
                        <span delta-time start="simulation.meta.startTime"></span>
                    </div>
                </div>
                <div layout="row">
                    <md-button ng-hide="hasStatus(simulation, 'complete')" ng-click="runTask($event,
                        'Start simulation computation', 'hydra', false, simulation, runSimulationCallback)"
                        class="md-raised md-primary" ng-disabled="!hasStatus(simulation, 'valid')">
                        Run
                    </md-button>
                    <md-button ng-show="hasStatus(simulation, 'complete')" ng-click="runTask($event,
                        'Start result viewer', 'pvw', false, simulation, runVisualizationCallback)"
                        class="md-raised md-primary">
                        Visualize
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="editSimulation('simulation', {
                        collectionName: getActiveCollection(),
                        projectID: simulation.folderId,
                        simulationID: simulation._id ,
                        mode: simulation.meta[simulation.meta.task].status})"
                        ng-disabled="!hasStatus(simulation,
                        ['incomplete', 'valid'])">
                        Annotate
                    </md-button>
                    <md-button loading is-loading="loading.cloning"
                        ng-disabled="loading.cloning"
                        ng-click="cloneSimulation(simulation)"
                        class="md-raised">
                        Clone
                    </md-button>
                    <md-button ng-click="downloadSimulation(simulation)" class="md-raised">Download</md-button>
                    <span flex></span>
                    <md-button loading is-loading="loading.deleting"
                        ng-click="deleteSimulation(simulation)" class="md-raised md-warn"
                        ng-disabled="hasStatus(simulation, 'running') || loading.deleting">Delete</md-button>
                    <md-button ng-click="terminateCluster(simulation)" class="md-raised md-warn"
                        ng-disabled="!hasStatus(simulation, 'running') || hasStatus(simulation, 'error')">
                        Terminate
                    </md-button>
                </div>
                <div ng-show="hasStatus(simulation,
                    ['running', 'complete', 'terminated', 'error', 'failure'])" >
                    <label>Log</label>
                    <pre class="task-log">{{taskLog[simulation._id]}}</pre>
                </div>
                <div ng-show="hasStatus(simulation,
                    ['error', 'complete', 'failure', 'terminated'])">
                    <label>Output</label>
                    <div ng-repeat="file in taskOutput | filter: fileFilter()">
                        <a ng-href="/api/v1/file/{{file._id}}/download">{{file.name}}</a>
                    </div>
                </div>
            </md-content>
    </accordion>
</md-content>
