<md-content class="md-padding"  layout="row" layout-align="center center">
    <md-card class="half-width-card">
        <md-card-content>
            <section layout="row" layout-sm="column" layout-align="center center"
                ng-keypress="(userLogin && userPassword && $event.keyCode === 13) ? login(userLogin, userPassword) : null">
                <md-input-container flex>
                    <label>Login</label>
                    <input ng-model="userLogin">
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="userPassword" type="password">
                </md-input-container>
            </section>
            <section layout="row" layout-sm="column" layout-align="end center">
                <md-button class="md-flat" ui-sref="register" flex-order-sm="2">Register</md-button>
                <md-button class="md-raised md-primary" aria-label="Login"
                    ng-click='login(userLogin, userPassword)' flex-order-sm="1">
                    Login
                </md-button>
            </section>
        </md-card-content>
    </md-card>
</md-content>
