<md-content>
    <section layout="column"
            ng-repeat="group in groups">
        <div class="workflow-header" flex layout="row" layout-align="space-between center">
            <span>
                <i class="fa fa-database fa-fw"></i>
                {{ group.name === user.login ? "My projects" : group.name }}
            </span>
            <span flex="1"></span>
            <span ng-click='createProject(group._id, $event)'>
                <md-button class="md-icon-button project-button"
                    aria-label="add project"
                    md-no-ink>
                    <i class="fa fa-plus"></i>
                </md-button>
            </span>
        </div>
        <div class="workflow-content" layout="column">
            <div ng-repeat="project in projects"
                ng-if="project.parentId === group._id"
                class="workflow-block" flex layout="row" layout-align="space-between center">
                <span style='width: 20%;'
                    ui-sref="project({ collectionName: getActiveCollection(), projectID: project._id })">
                    {{ project.name | unescape}}
                </span>
                <span style='width: 60%;'
                    ui-sref="project({ collectionName: getActiveCollection(), projectID: project._id })">
                    {{ project.description | unescape}}
                </span>
                <span style='width: 20%;'
                    ui-sref="project({ collectionName: getActiveCollection(), projectID: project._id })">
                    {{ project.created | toDateNumber | date : 'medium' }}
                </span>
                <span ng-click='deleteProject($event, project._id)'>
                    <md-button class="md-icon-button project-button"
                        aria-label="delete project"
                        md-no-ink ng-disabled="uploading"
                        ng-if='project._accessLevel == 2'>
                        <i class='fa fa-trash'></i>
                    </md-button>
                </span>
            </div>
        </div>
    </section>
</md-content>
