<md-content class="md-padding"  layout="row" layout-align="center center">
    <md-card class="half-width-card">
        <md-card-content>
        <section layout="column" layout-sm="column" layout-align="space-around center">
            <md-input-container flex class="width-100">
                <label>Choose a login name</label>
                <input ng-model="user.login">
            </md-input-container>
            <md-input-container flex class="width-100">
                <label>Enter your email address</label>
                <input ng-model="user.email" type="email">
            </md-input-container>
        </section>
        <section layout="row" layout-sm="column" layout-align="space-around center">
            <md-input-container flex>
                <label>First name</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last name</label>
                <input ng-model="user.lastName">
            </md-input-container>
        </section>
        <section layout="row" layout-sm="column" layout-align="space-around center">
            <md-input-container flex>
                <label>Choose a password</label>
                <input ng-model="user.password" type="password">
            </md-input-container>
            <md-input-container flex>
                <label>Retype your password</label>
                <input ng-model="user.passwordConf" type="password">
            </md-input-container>
        </section>
        <section layout="row" layout="column" layout-align="space-between center">
          <md-button class="md-raised" ui-sref="login">Cancel</md-button>
          <md-button class="md-raised" ng-click="registerUser(user)">Register</md-button>
        </section>
        </md-card-content>
    </md-card>
</md-content>
