<md-dialog aria-label="{{ title }}" style="width: 50%;">
    <md-subheader class="md-sticky-no-effect cmb-subheader">
            <strong title>{{ title }}</strong>
    </md-subheader>
    <md-content layout-padding>
        <div layout="column">
            <label>Server type</label>
            <select ng-model='serverSelection'>
                <option ng-repeat="opt in serverOptions" ng-value="opt">{{opt}}</option>
            </select>
        </div>
        <div ng-switch="serverSelection">
            <!-- EC2 CONFIG -->
            <div id="ec2-cluster-content" aria-labelledby="ec2-cluster" ng-switch-when="EC2" >
                <form layout="column">
                    <label>Profile</label>
                    <select ng-model="selectedProfile" required="true"
                        ng-options="profile.name for profile in profiles track by profile._id" ng-change="updateAvailableAWSInstance()">
                    </select>
                    <span ng-class="{error: !valid()}">
                        You are running {{runningInstances}} / {{availableMaxInstances}} cluster{{runningInstances === 1 ? '' : 's'}} on this profile.
                    </span>
                    <div layout="row" style="margin: 10px 0;">
                        <label flex="20">
                            Machine type
                        </label>
                        <div flex>
                            <select ng-model='data.type' class="form-control" ng-change="updateCost()">
                                <option ng-repeat="machine in machines" value="{{ machine.id }}">
                                    {{ machine.label }} - {{ machine.cpu }} cores - {{ machine.memory }} GB {{ machine.gpu ? " + GPU" : "" }} - {{ machine.storage }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div layout="row" style="margin: 10px 0;">
                        <label flex="20">
                            Cluster size
                        </label>
                        <div flex>
                          <input type="number" ng-change="updateCost()" ng-model='data.size'
                            value='1' min='1' max='100' step='1' class="form-control">
                        </div>
                    </div>
                    <div layout="row" style="margin: 10px 0;" >
                        <label flex="20">
                            Hour cost
                        </label>
                        <label class="control-label" flex>
                            {{ data.cost | currency : $ : 2 }} / hour
                        </label>
                    </div>
                    <div layout="row" style="margin: 10px 0;" >
                        <label flex="20">
                            Volume Size
                        </label>
                        <input type="number" ng-model="volume.size" ng-value="volume.size"
                            min="1" max="16384" step="1">
                        <span>&nbsp; gigabytes</span>
                    </div>
                </form>
            </div>
            <!-- TRADITIONAL CLUSTER CONFIG -->
            <div id="launcher-content" aria-labelledby="launcher" ng-switch-when="Traditional">
                <form layout="column">
                    <label>Cluster</label>
                    <select ng-model="clusterData.selectedCluster" required="true"
                        ng-options="cluster.name for cluster in clusters track by cluster._id">
                    </select>
                </form>
            </div>
        </div> <!-- end ngSwitch -->
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-warn">Cancel</md-button>
            <md-button ng-click="ok()" class="md-raised md-primary" ng-disabled="!valid()">Ok</md-button>
        </div>
    </md-content>
</md-dialog>
