<md-content class="md-padding"  layout="column" layout-align="center center">
    <!-- AWS -->
    <md-card class="half-width-card">
        <md-card-content layout="column" class="no-padding">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>Amazon AWS</h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="addProfile()" aria-label="Add new profile">
                        <i class="fa fa-plus"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <section layout="row" flex="">
                <accordion close-others="false">
                    <accordion-group ng-repeat="profile in awsProfiles">
                        <accordion-heading>
                            <i class="fa fw" ng-class="statusClasses[profile.status]">
                                <md-tooltip>
                                  {{profile.status}}
                                </md-tooltip>
                            </i>
                            <span>{{ profile.name }}</span>
                        </accordion-heading>
                        <form layout="column">
                            <md-input-container>
                                <label>AWS ID Key</label>
                                <input type="text" ng-model="awsProfiles[$index].accessKeyId">
                            </md-input-container>
                            <md-input-container>
                                <label>AWS Secret Key {{profile.saved ? '(cannot be changed after creation)' : ''}}</label>
                                <input type="text" ng-model="awsProfiles[$index].secretAccessKey"
                                    ng-disabled="profile.saved">
                            </md-input-container>
                            <md-input-container>
                                <label>Region {{profile.saved ? '(cannot be changed after creation)' : ''}}</label>
                                <md-select
                                    ng-model="awsProfiles[$index].regionName"
                                    md-on-close="validateZone($index)"
                                    ng-disabled="profile.saved">
                                    <md-option ng-repeat="region in regions" ng-value="region">
                                        {{region}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Availability Zone {{profile.saved ? '(cannot be changed after creation)' : ''}}</label>
                                <md-select ng-model="awsProfiles[$index].availabilityZone"
                                    ng-disabled="profile.saved">
                                    <md-option ng-repeat="availZone in ec2[awsProfiles[$index].regionName]"
                                        ng-value="awsProfiles[$parent.$index].regionName + availZone">
                                        {{availZone[availZone.length - 1]}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </form>
                        <section layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-click="saveAWSProfile($index)">Save</md-button>
                            <md-button class="md-warn" ng-click="deleteAWSProfile($index)">Delete</md-button>
                        </section>
                    </accordion-group>
                </accordion>
            </section>
        </md-card-content>
    </md-card>

    <!-- CLUSTERS -->
    <md-card class="half-width-card">
        <md-card-content layout="column" class="no-padding">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>Clusters</h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="addClusterProfile()" aria-label="Add new cluster">
                        <i class="fa fa-plus"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <section layout="row" flex="">
                <accordion close-others="false">
                    <accordion-group ng-repeat="profile in clusterProfiles">
                        <accordion-heading>
                            <i class="fa fw" ng-class="statusClasses[profile.status]">
                                <md-tooltip>
                                  {{profile.status}}
                                </md-tooltip>
                            </i>
                            <span>{{ profile.name }}</span>
                        </accordion-heading>
                        <form name="clusterParams" layout="column">
                            <md-input-container>
                                <label>Hostname</label>
                                <input type="text" ng-model="profile.config.host" ng-disabled="profile.saved" ng-required="true">
                            </md-input-container>
                            <md-input-container>
                                <label>Username</label>
                                <input type="text" value="" ng-model="profile.config.ssh.user" ng-disabled="profile.saved" ng-required="true">
                            </md-input-container>
                            <md-input-container>
                                <label>Parallel Environment</label>
                                <input type="text" ng-model="profile.config.parallelEnvironment" ng-disabled="profile.saved" placeholder="optional">
                            </md-input-container>
                            <md-input-container>
                                <label>Number of slots per node</label>
                                <input type="number" min="1" step="1" ng-model="profile.config.numberOfSlots" ng-disabled="profile.saved" placeholder="optional"
                                       ng-blur="floorSlots(profile.config.numberOfSlots)">
                            </md-input-container>
                            <md-input-container>
                                <label>Simulation Output Directory</label>
                                <input type="text" ng-model="profile.config.jobOutputDir" ng-disabled="profile.saved" placeholder="absolute path, optional"
                                       pattern="^\/.+">
                            </md-input-container>
                            <md-input-container>
                                <label>Hydra executable path</label>
                                <input type="text" ng-model="profile.config.hydra.executablePath" ng-disabled="profile.saved" placeholder="absolute path, required"
                                       pattern="^\/.+" ng-required="true" >
                            </md-input-container>
                            <div ng-show="ableToTestCluster(profile)" class="ssh-key">
                                <label>Public SSH key</label>
                                <pre>{{profile.config.ssh.publicKey}}</pre>
                                <label>Command to add this key to cluster</label>
                                <pre>echo "{{profile.config.ssh.publicKey}}" | \
ssh {{profile.config.ssh.user}}@{{profile.config.host}} \
"umask 077 &amp;&amp; mkdir -p ~/.ssh &amp;&amp; cat &gt;&gt; ~/.ssh/authorized_keys"</pre>
                            </div>
                        </form>
                        <section layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-click="clusterProfileAction($index, profile)" ng-disabled="clusterParams.$invalid" >
                                {{ableToTestCluster(profile) ? 'Test' : 'Save'}}
                            </md-button>
                            <md-button class="md-warn" ng-click="deleteClusterProfile($index)">Delete</md-button>
                        </section>
                    </accordion-group>
                </accordion>
            </section>
        </md-card-content>
    </md-card>

    <!-- PASSWORD -->
    <md-card class="half-width-card">
        <md-card-content>
            <h2 class="md-title">Change password</h2>
            <md-input-container flex>
                <label>Old Password</label>
                <input ng-model="password.oldPass" type="password" required>
            </md-input-container>
            <md-input-container flex>
                <label>New Password</label>
                <input ng-model="password.newPass" type="password" required>
            </md-input-container>
            <md-input-container flex>
                <label>Confirm New Password</label>
                <input ng-model="password.confirmPass" type="password" required>
            </md-input-container>
            <md-button class="md-primary" ng-click="changePassword()">Update password</md-button>
        </md-card-content>
    </md-card>
</md-content>