<div style='padding: 0 30px;'>
    <h2>Introduction</h2>
    <p>
    Code_Saturne solves the Navier-Stokes equations for 2D, 2D-axisymmetric
    and 3D flows, steady or unsteady, laminar or turbulent, incompressible
    or weakly dilatable, isothermal or not, with scalars transport if required.
    </p>
    <p>
    Several turbulence models are available, from Reynolds-Averaged models to
    Large-Eddy Simulation models. In  addition, a number of specific physical
    models are also available as "modules": gas, coal and heavy-fuel oil
    combustion, semi-transparent radiative transfer, particle-tracking with
    Lagrangian modeling, Joule effect,  electrics arcs, weakly compressible
    flows, atmospheric flows, rotor/stator interaction for hydraulic machines.
    </p>
    <p>Code_Saturne is an open source CFD software.</p>

    <p>
    <a style="text-decoration: underline;" href="http://code-saturne.org" target="_blank">Find out more</a>
    </p>
</div>
