<div layout="row"  layout-align="space-around center">
    <md-input-container flex="45">
        <label>{{ property.label }}</label>
        <input ng-model="data[property.id][0]">
    </md-input-container>
    <md-input-container flex="45">
        <label>{{ property.label }}</label>
        <input ng-model="data[property.id][1]">
    </md-input-container>
    <span flex></span>
    <md-button class="md-fab help-button" aria-label="Toggle help" ng-click="toggleLocalHelp(property.id)">
        <i class="fa fa-fw fa-question md-primary"></i>
    </md-button>
</div>
