<md-toolbar class="cmb-subsubheader" layout="row" layout-align="space-between center">
    <div flex layout="row" layout-align="start center">
        <md-button aria-label="Save input parameters" ng-click="saveAndValidate()">
            <i class="fa fa-save"></i>
            <md-tooltip>Save input parameters</md-tooltip>
        </md-button>
    </div>
    <div flex layout="row" layout-align="center center">
        {{ simulation.name }}
    </div>
    <div flex layout="row" layout-align="end center">
        <md-button
            aria-label="Simulation input is Invalid. Click to see some details."
            ng-click="showError($event)">
            <i class="fa fa-fw fa-warning"></i>
            <md-tooltip>Show errors or incomplete data</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<div layout="column">
    <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="1">
      <md-content class="md-padding">
        <ul class="nav">
            <li ng-repeat="view in parameterDataTemplate.views"
                ng-class="{ active: (activeSection == view.id) }"
                ng-click="activateSection(view.id)">
                <i class="fa fa-fw" ng-class="getClassIcon(view.id)"></i>
                {{ view.label }}
            </li>
        </ul>
    </md-sidenav>
    <md-content flex class="md-padding">
    <div class='row' layout="column"
            ng-repeat="view in parameterDataTemplate.views"
            ng-show="activeSection == view.id">
      <md-content flex class="md-padding" ng-repeat="attr in view.attributes" ng-class="{ collapsed: parameterDataTemplate.definitions[attr].collapsed }">
          <div layout="row">
            <i class="fa fa-lg fa-fw"
              ng-click="parameterDataTemplate.definitions[attr].collapsed = !parameterDataTemplate.definitions[attr].collapsed;"
              ng-class="{ 'fa-caret-down' : !parameterDataTemplate.definitions[attr].collapsed, 'fa-caret-right': parameterDataTemplate.definitions[attr].collapsed }"></i>
            <b>{{ parameterDataTemplate.definitions[attr].label }}</b>
            <hr style="position: relative; top: 1em; margin: 0 20px;" flex/>
            <i class="fa fa-fw fa-gear"></i>
            <i class="fa fa-fw fa-question" ng-click="toggleHelp($event)"></i>
          </div>
          <form class="form-horizontal cmb-property-panel" role="form" ng-hide="parameterDataTemplate.definitions[attr].collapsed">
            <div class="collapsable"
              ng-repeat="param in parameterDataTemplate.definitions[attr].parameters"
              cmb-property
              workflow="{{ collection.name }}"
              property="param"
              data="data"></div>
          </form>
      </md-content>
    </div>
    </md-content>
    </section>
</div>
