<md-toolbar class="cmb-subsubheader" layout="row" layout-align="space-between center">
    <div flex layout="row" layout-align="start center">
        <md-button aria-label="Save input parameters">
            <i class="fa fa-save"></i>
            <md-tooltip>Save input parameters</md-tooltip>
        </md-button>
    </div>
    <div flex layout="row" layout-align="center center">
        {{ simulation.name }}
    </div>
    <div flex layout="row" layout-align="end center">
        <md-button
            aria-label="Simulation input is Invalid. Click to see some details."
            ng-click="showError($event)">
            <i class="fa fa-fw fa-warning"></i>
            <md-tooltip>Show errors or incomplete data</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<div layout="column">
    <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="1">
      <md-content class="md-padding">
        <ul class="nav">
            <li ng-repeat="view in parameterDataTemplate.views"
                ng-class="{ active: (activeSection == view.id) }"
                ng-click="activateSection(view.id)">
                <i class="fa fa-fw" ng-class="getClassIcon(view.id)"></i>
                {{ view.label }}
            </li>
        </ul>
      </md-content>
    </md-sidenav>
    <md-content flex class="md-padding">
    <div class='row' layout="column"
            ng-repeat="view in parameterDataTemplate.views"
            ng-show="activeSection == view.id">
      <md-content flex class="md-padding" ng-repeat="attr in view.attributes" ng-class="{ collapsed: parameterDataTemplate.definitions[attr].collapsed }">
          <b ng-click="parameterDataTemplate.definitions[attr].collapsed = !parameterDataTemplate.definitions[attr].collapsed;">
            <i class="fa fa-lg fa-fw"
              ng-class="{ 'fa-caret-down' : !parameterDataTemplate.definitions[attr].collapsed, 'fa-caret-right': parameterDataTemplate.    definitions[attr].collapsed }"></i>
            {{ parameterDataTemplate.definitions[attr].label }}
          </b>
          <hr/>
          <form class="form-horizontal" role="form">
            <div class="collapsable" input-parameter
              ng-repeat="param in parameterDataTemplate.definitions[attr].parameters"
              property="param"
              values="dataValues"></div>
          </form>
      </md-content>
    </div>
    </md-content>
    </section>
</div>
