.simput-welcome
    display none

.save-data-model
    display none

.md-subheader.cmb-subheader
    background #cccc
    color #000
    margin 0

md-toolbar
    min-height 32px

    .md-toolbar-tools
        padding 5px 0 5px 5px
        height 32px
        min-height 32px
        max-height 32px

    .search-query
        border-radius 10px
        font-size 18px
        padding 0 20px
        border 0


    &.cmb-subheader
        background #ccc
        color #000

        .breadcrumb
            padding 0 15px
            margin 0

            li
                cursor pointer

    &.cmb-header
        background #0a0a0a
        color #fff

    &.cmb-subsubheader
        background #eee
        color #000

        .md-button
            margin 0 1px
            padding 2px 10px

            i
                color #000

        [toggle-filter-bar]
            font-size 65%

            .md-button
                margin 0 2px
                padding 2px 5px

md-list-item:nth-child(2n)
    background-color #eeeeee

.cmb-button.md-button.md-fab
    width 28px
    height 28px
    color black
    background-color #eeeeee

    .fa
        top -2px
        position relative
        font-size 20px

    &:hover:enabled
        color white
        background-color #F44336

[ng-click], [ui-sref]
    cursor pointer

input[type="file"]
    height 100%

strong[title]
    font-size 1.5em


.width-100
    width 100%

    input
        width 100%

.width-90
    width 90%

    input
        width 90%

.text-center
    text-align center


md-tabs.cmb-subheader
    section.md-header
        background #eee
        color #0a0a0a

    md-tabs-ink-bar
        background #000
        color #000

    md-tab-label
        color #000

.md-button.md-fab.help-button
    height 20px
    width 20px
    padding 0
    margin 0

button.md-button.md-fab.help-button
    background #ccc

button.md-button.md-fab.help-button.md-default-theme:hover
    background #aaa

.md-button.md-fab.help-button
    height 25px
    width 25px
    padding 0
    margin 0
    background-color #aaa

        .fa
            top -2px
            position relative
            font-size 20px


.cmb-property-panel label
    color rgba(0,0,0,0.26)

.cmb-property-head-group
   margin-top 20px
   position relative
   left -5px

md-sidenav
    .active
        font-weight bold

.cmb-username
    padding-right 7px

.no-padding
    padding 0

.project-filter-button
    padding 0
    width 30px
    min-width 0
    min-height 0
    height 26px
    line-height normal

.project-filter-button > i
    color gray !important //angular-material stylesheets hog this

.project-filter-button.md-raised > i
    color black !important

@media screen and (max-width 900px)
    .info-buttons button, .info-buttons a
        min-width 50px
        max-width none

@media screen and (max-width 600px)
    .info-buttons button, .info-buttons a
        min-width 40px

@media screen and (max-width 490px)
    .info-buttons button, .info-buttons a
        min-width 20px

accordion
    width 100%
    min-height 15px
    .panel-group
        margin-bottom 0

a.accordion-toggle
    width 100%
    display flex
    align-items baseline
    outline none

    &:hover, &:focus
        text-decoration none

    span
        margin-left 16px

input:invalid
    border 1px solid #F44336
    padding 2px 0

.ssh-key
    padding 2px

    label
        padding 2px
        font-size 0.75em
        color rgba(0,0,0,0.54)

.half-width-card
    width 50%

@media screen and (max-width: 600px)
    .half-width-card
        width 100%

.valid, .incomplete
    color #263238 //biscally black

.error
    color #F44336 //red

.completed
    color #2196F3 //blue

.running
    color #4CAF50 //green

