md-toolbar
    min-height 32px

    .md-toolbar-tools
        padding 5px 0 5px 5px
        height 32px
        min-height 32px
        max-height 32px

    .search-query
        border-radius 10px
        font-size 18px
        padding 0 20px
        border 0


    &.cmb-subheader
        background #cccc
        color #000

        .breadcrumb
            padding 0 15px
            margin 0

            li
                cursor pointer

    &.cmb-header
        background #0a0a0a
        color #fff

.cmb-button.md-button.md-fab
    width 28px
    height 28px

    .fa
        top -2px
        position relative
        font-size 20px


.width-100
    width 100%

    input
        width 100%


.width-90
    width 90%

    input
        width 90%
