<!doctype html>
<html ng-app="kw.cmb.app" ng-controller="cmb.CoreController">
  <head>
    <meta charset="utf-8">
    <title>HPC Cloud</title>
    <meta name="description" content="Leverage cloud resources to do parallel computation and visualization.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="assets/vtk-web/ext/fontello/css/animation.css">
    <link rel="stylesheet" href="assets/vtk-web/ext/fontello/css/fontello.css">
    <link rel="stylesheet" href="assets/vtk-web/ext/bootstrap3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/vtk-web/ext/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vtk-web/lib/css/paraview.ui.proxy.editor.css">
    <link rel="stylesheet" href="assets/vtk-web/lib/css/paraview.ui.opacity.editor.css">
    <link rel="stylesheet" href="assets/vtk-web/lib/css/paraview.ui.color.editor.css">

    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/chpc-min.css">
  </head>
  <body layout="column" flex layout-fill>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar class="cmb-header">
      <div class="md-toolbar-tools">
        <h3 ng-click="goHome()" class="cmb-home clickable">HPC Cloud</h3>
        <span flex></span>
        <h4 ui-sref="preferences" ng-if="user" class="cmb-username clickable"
          ng-bind="user.firstName + ' ' + user.lastName">
        </h4>
        <span ng-if="user">
          <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
            <i class="fa fa-sign-out"></i>
            <md-tooltip>
                Logout
            </md-tooltip>
          </md-button>
        </span>
      </div>
    </md-toolbar>

    <div cmb-navigation-bar></div>
    <div ui-view></div>

    <script src="js/bower-vendors.js"></script>
    <script src="js/ext-vendors.js"></script>
    <script src="js/jade-templates.js"></script>
    <script src="js/chpc-tpl.js"></script>
    <script src="js/chpc-min.js"></script>

    <script type="text/javascript" src="assets/vtk-web/ext/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="assets/vtk-web/ext/core/autobahn.min.js"></script>
    <script type="text/javascript" src="assets/vtk-web/ext/core/jquery.hammer.min.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/core/vtkweb-all.min.js"></script>

    <script type="text/javascript" src="assets/vtk-web/ext/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.action.list.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.files.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.data.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.proxy.editor.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.svg.pipeline.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.opacity.editor.js"></script>
    <script type="text/javascript" src="assets/vtk-web/lib/js/paraview.ui.color.editor.js"></script>
    <script type="text/javascript" src="assets/vtk-web/apps/Visualizer/main.js"></script>

    <script type="text/javascript" src="assets/ng-pvw/PvwAngularComponents.js"></script>
  </body>
</html>
